@tailwind base;
@tailwind components;
@tailwind utilities;

.pt-safe {
  padding-top: env(safe-area-inset-top);
}

.pb-safe {
  padding-bottom: env(safe-area-inset-bottom);
}

.top-safe {
  top: env(safe-area-inset-top);
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar{
  background: transparent;
  scrollbar-width: none;
}
